.itemcard-container {
  width: 100%;
  height: auto;
  gap: 20px;
  display: grid;
  cursor: pointer;
  padding: 0 0 25px 0;
  grid-template-columns: repeat(3, 1fr);
}

.itemcard-container:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.product-price {
  margin: 0;
  font-size: 1.5rem;
}

.product-title {
  margin-block-start: 10px;
  font-size: 1.2rem;

}

.product-description {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.product-description-info {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-block-start: 20px;
}

.product-state {
  display: flex;
  justify-content: center;
}

.txt-product-state {
  color: gray;
  padding-top: 45px;
}