.results-container {
  width: 100%;
  margin-inline: auto;
  max-inline-size: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  padding-bottom: 40px;
}

.results {
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px 15px;
  background-color: #fff;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.categories-txt {
  color: gray;
}

@media (max-width:390px) {
  .results-container {
    padding: 10px;
  }

  .itemcard-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .prod-image {
    height: 200px;
    max-width: 100%;
  }

  .itemcard-container .product-description {
    align-items: center;
    margin-block-start: 0;
  }

  .txt-product-state {
    padding: 0;
  }
}